.tablelight{font-family:"Arial",Times,arial;font-size:10pt;font-weight:normal;}
.tabledarkth{background-color:#BDBAAD;font-family:"Arial",Times,arial;font-size:12pt;font-weight:bold;}
.tablebold{font-family:"Arial",Arial,arial;font-size:10pt;font-weight:bold;}
.tableBody{font-family:"Arial",Arial,arial;font-size:13pt;font-weight:bold;color:#4C4B44;}
.tablehomebg{background-color:#EFEFEF;font-family:"Arial",Arial,arial;font-size:12px;font-weight:normal;}
.userlight{font-family:"Arial",Arial,arial;font-size:10pt;font-weight:normal; color:#5a5d62}
.userbold{font-family:"Arial",Arial,arial;font-size:11pt;font-weight:bold;}
.tableBody_Head{font-family:"Arial",Arial,arial;font-size:13px;font-weight:bold;}
.bodycolor{background-color:gray;}
.tableSub-2{font-family:"Arial",Arial,arial;font-size:10pt;font-weight:normal;}
.tableBody{font-family:"Arial",Arial,arial;font-size:12pt;font-weight:bold;}
.heading1{font-family:"Arial",Arial,arial;font-size:12pt;font-weight:bold;color:#004080;}
.heading2{font-family:"Arial",Arial,arial;font-size:16pt;font-weight:bold;color:#5a5d62;}
.buttonTab{background-color:#EFEFE7;color:#4C4B44;font-family:arial;font-size:12;font-weight:bold;}

.portalmenu{font-family:"Arial",Arial,arial;font-size:10px;font-weight:bold;color:red}
.tableheading{background:#EFEFE7;color:#4C4B44;font-family:"Arial",Arial,arial;font-size:12px;font-weight:bold;}

/*Onmouse over: default - #88A65C :current - #EC454E

default color :default  - b9121b : current - 3C5A0E*/

